
.body{
    margin: auto;
    width: 960px;
    background-color: aquamarine;
    background-image: url("assets/images/background.jpeg");
    /* background-image: url("paper.gif"); */
    
}

#subwrapper{
    margin: auto;
    width: 960px;
    background-color: rgb(181, 149, 212);
}
.jumbotron{
    margin: auto;
    width: 960px;
   
}
#title{
    text-align: center;

}
.btn {
    align-self: center;
}
#start{
    align-self: center;
}
