
.body{
    margin: auto;
    width: 960px;
    background-image: url("background.jpeg")
}

#subwrapper{
    margin: auto;
    width: 960px;
}
.jumbotron{
    margin: auto;
    width: 960px;
   
}
#title{
    text-align: center;

}
.btn {
    align-self: center;
}

/* .jumbotron {
    width: 960px;
    align-content: center;
    margin: auto;
    text-align: center;
}

.hidden {
    display: none;
}
#questions-page {
    width: 960px;
    margin: auto;
}
#timer-display {
    text-align: center;
    font-size: 50px;
}
.card-body {
    text-align: center;
} */